body {
    text-align: center;
    min-width: 1200px;
}

.main-container {
    background-color: rgb(230,230,230);
    width: 1000px;
    height: 570px;
    margin: 0 auto;
    margin-top: 30px;
}

.main-container h1 {
    background-color: rgb(0,0,0);
    color: white;
    padding: 20px 0;
    font-size: 20px;
}

.wrapper_3 {
    margin-top: 15px;
}

 .wrapper_1 {
    margin-top: 15px;
}

.wrapper_1 p{
    margin-top: 10px;
    font-size: 15px;
}

.wrapper_1 img {
    height: 300px;
}

.wrapper_1 .input_btn input {
    padding-left: 80px;
    font-size: 15px;
}

.wrapper_2 {
    margin-top: 20px;
}

.wrapper_2 button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #000000;
    padding: 7px 20px;
}

.wrapper_2 button:hover {
    background-color: #383838;
}